# Keil build output
*.o
*.d
*.axf
*.hex
*.bin
*.map
*.lst
*.dep

Objects/
Listings/

# Keil user settings
*.uvguix.*
*.uvoptx

# Temporary
*.bak
*.tmp
~*

# Keil generated reports
*.build_log.htm
MDK-ARM/**/*.htm